body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-weight: 700;
  font-size: 14px;
}

.ant-card-body {
  padding: 0;
}

.ant-card-meta-title {
  font-size: 16px;
  font-weight: 700;
}

.ant-card-meta-description {
  font-weight: 700;
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}